# Ignore files and directories
out/
docs/

# Temporary ignore files and directories (to be deleted)
tmp/
minecraft/
subwaysurfers/

# Dependencies
node_modules/

# VS Code test infrastructure
.vscode-test/

# Build artifacts
*.vsix

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
