.devcontainer/
.vscode-test/
.vscode-test-compile/
.vscode/
.claude/
.gemini/
.planning/
.git/
.gitignore
.geminiignore
.DS_Store
.eslintrc.json
node_modules/
src/
*.vsix
*.map
*.tsbuildinfo
docs/
assets/tmp/
out/test/
tsconfig.json
package-lock.json
v8.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*